.nav {
    padding: 40px 0 50px;
    width: 100%;
    float: left;
}


.body {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    letter-spacing: .7px;
    word-wrap: break-word;
    color: #767676;
    box-sizing: border-box;
}

.body a {
    color: #767676;
    text-decoration: none;
}